header {background-color: aqua; padding: 20px; font-size: xx-large; font-family: georgia;}
footer {background-color: aqua; padding: 5px;}
.nav {text-decoration: none;}
.nav-style {text-align: center;}
a:hover {background-color:#FFEFD5;}
.contact {font-size: medium;}
h1 {font-family: georgia; text-align: center;font-style: bold;}
.edu-hobby {background-color: lightcyan; padding: 20px;}
.work {background-color:( #FFEFD5); padding: 30px; color: rgb()}

img:hover {
    opacity: 0.5;